@font-face {
    font-family: 'jyhphy';
    src: url('../fonts/jyhphy.woff2');
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'jyhphy', 'Microsoft YaHei';
}

a[href] {
    text-decoration: none;
}