/*
*   全局样式库
*   By: GuaiJie
*/

@font-face {
  font-family: 'jyhphy';
  src: url('https://jsd.cdn.zzko.cn/gh/GuaiJieYo/YunLiuWeb@main/src/fonts/jyhphy.woff2') format('woff2'); // 使用国内jsdelivr镜像
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'jyhphy','Microsoft YaHei',sans-serif;
}

body {
  background-color: #f9f9f9;
}

// 禁用滚动条(因为懒得写滚动条的样式XD)
::-webkit-scrollbar {
    width: 0;
}

main {
    background: #f9f9f9;
}

a[href] {
    text-decoration: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

// 渐出动画 使用vue原生<transition>
.FadeOut-enter-active,
.FadeOut-leave-active {
  transition: opacity .5s;
}

.FadeOut-enter,
.FadeOut-leave-to {
  opacity: 0;
}